@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{

    width: 100%;
    height: 240px;

    position: relative;

    background-color: #DA0000;

}
.CB_ini{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;

}

.titulo{

    margin-top: 60px;
    padding-top: 40px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;

}

a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uniao{

    margin-top: 10px;
    width: 70%;
    height: 85%;
    position: absolute;
    z-index: 0;
}

.link_da_opc{

    color: black;
    text-decoration: none;
    
}

.nave_do_CB{

    width: 100%;
    height: 100px;

    display: flex;

    margin-top: 34px;
    
}

.bloco_d_op{

    width: 100%;
    height: 3.75em;
    padding-left: 0;
    
    display: flex;

    position: absolute;
    z-index: 1;

    list-style-type: none;
}

.opc_d_menu{

    width: 30%;
    height: 3.75em;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black 1px;
    background-color: #FFB800;
}